<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CapaPresentacion.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BDServiciosABCConnectionString" connectionString="Data Source=T420-GMOLINA;Initial Catalog=BDServiciosABC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <CapaPresentacion.My.MySettings>
      <setting name="CapaPresentacion_wsDetalleFactura_wsTbDetalleFactura"
        serializeAs="String">
        <value>http://localhost:19447/wsTbDetalleFactura.asmx</value>
      </setting>
      <setting name="CapaPresentacion_wsDetalleRecibo_wsTbDetalleRecibo"
        serializeAs="String">
        <value>http://localhost:19447/wsTbDetalleRecibo.asmx</value>
      </setting>
      <setting name="CapaPresentacion_wsEstado_wsTbEstado" serializeAs="String">
        <value>http://localhost:19447/wsTbEstado.asmx</value>
      </setting>
      <setting name="CapaPresentacion_wsFactura_wsTbFactura" serializeAs="String">
        <value>http://localhost:19447/wsTbFactura.asmx</value>
      </setting>
      <setting name="CapaPresentacion_wsImpuesto_wsTbImpuesto" serializeAs="String">
        <value>http://localhost:19447/wsTbImpuesto.asmx</value>
      </setting>
      <setting name="CapaPresentacion_wsRol_wsTbRol" serializeAs="String">
        <value>http://localhost:19447/wsTbRol.asmx</value>
      </setting>
      <setting name="CapaPresentacion_wsPersona_wsTbPersona" serializeAs="String">
        <value>http://localhost:19447/wsTbPersona.asmx</value>
      </setting>
      <setting name="CapaPresentacion_wsServicio1_wsTbServicio" serializeAs="String">
        <value>http://localhost:19447/wsTbServicio.asmx</value>
      </setting>
      <setting name="CapaPresentacion_wsRecibo_wsTbRecibo" serializeAs="String">
        <value>http://localhost:19447/wsTbRecibo.asmx</value>
      </setting>
    </CapaPresentacion.My.MySettings>
  </applicationSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
</configuration>